<div
  class="container align-items-center justify-content-center shadow-lg p-3 mt-3"
>
  <h2 class="h1-responsive font-weight-bold text-center my-4">About us</h2>
  <p class="text-center w-responsive mb-5 mx-auto w-75">
    Bakery Goods is one of the most popular websites that offers you a variety
    of the best bakeries in town, where you can choose between them and within a
    few minutes your order will be ready to be picked up, It is our pleasure
    helping you to get your favourite, healthy and tasty food that will be
    served with the best quality and love.
    <br />
    <br />
    <br />
    With us, you will be able to create an account, monitor your past and
    current orders, and whenevr you pick the order up, you will be able to rate
    the resturant and give us your feedback
    <br />
    <br />
    <br />
    Always here for you
  </p>
</div>
