<div class="text-center my-4">
    <h4 class="h4 my-4">Bakeries</h4>
  <!--  Row -->
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <div class="card">
          <img
            src="../../assets/Cake.jpg"
            class="card-img-top"
            alt="Cake"
          />
          <div class="card-body">
            <h5 class="card-title">Cake House</h5>
            <p class="card-text">
              Some quick example text to build on the card title and make up the
              bulk of the card's content.
            </p>
            <a href="order-item" class="btn btn-primary">Order Now</a>
          </div>
        </div>
      </div>

      <div class="col-lg-4 d-none d-lg-block">
        <div class="card">
          <img
            src="../../assets/Croissant.jpeg"
            class="card-img-top"
            alt="Croissant"
          />
          <div class="card-body">
            <h5 class="card-title">Croissant Town</h5>
            <p class="card-text">
              Some quick example text to build on the card title and make up the
              bulk of the card's content.
            </p>
            <a href="order-item" class="btn btn-primary">Order Now</a>
          </div>
        </div>
      </div>

      <div class="col-lg-4 d-none d-lg-block">
        <div class="card">
          <img
            src="../../assets/Cupcake.webp"
            class="card-img-top"
            alt="Cupcake"
          />
          <div class="card-body">
            <h5 class="card-title">Cupcake</h5>
            <p class="card-text">
              Some quick example text to build on the card title and make up the
              bulk of the card's content.
            </p>
            <a href="order-item" class="btn btn-primary">Order Now</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--  Row -->

  <div class="container my-5">
    <div class="row">
      <div class="col-lg-4">
        <div class="card">
          <img
            src="../../assets/Biscuit.jpeg"
            class="card-img-top"
            alt="Biscuit"
          />
          <div class="card-body">
            <h5 class="card-title">Biscuits Factory</h5>
            <p class="card-text">
              Some quick example text to build on the card title and make up the
              bulk of the card's content.
            </p>
            <a href="order-item" class="btn btn-primary">Order Now</a>
          </div>
        </div>
      </div>

      <div class="col-lg-4 d-none d-lg-block">
        <div class="card">
          <img
            src="../../assets/Gateau.jpg"
            class="card-img-top"
            alt="Gateau"
          />
          <div class="card-body">
            <h5 class="card-title">Gateaux</h5>
            <p class="card-text">
              Some quick example text to build on the card title and make up the
              bulk of the card's content.
            </p>
            <a href="order-item" class="btn btn-primary">Order Now</a>
          </div>
        </div>
      </div>

     
    </div>
  </div>
</div>
